[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "random-keyboard-parts.pretty"]
	path = random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Adafruit-Eagle-Library.kicad"]
	path = Adafruit-Eagle-Library.kicad
	url = https://github.com/ryanfobel/Adafruit-Eagle-Library.kicad.git
[submodule "WS2812B.pretty"]
	path = WS2812B.pretty
	url = https://github.com/ai03-2725/WS2812B.pretty.git
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
[submodule "kicad-symbols"]
	path = kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
